@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Reggae One', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content:space-between;
    align-items: center;
    background:	#98744e;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 74%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
     align-items: center;
    
    
}
  .showcase video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
  }
  
  .text {
      position: relative;
      bottom: -150;
      z-index: 10;
  }

  .text h2{
      text-align: right;
      font-size: 3em;
      font-weight: 600;
      line-height: 1em;
      text-transform: uppercase;
      color:#ec9c66;
      -webkit-text-stroke:0.2px #362415;
      
  }

  .text h3 {
    text-align: right;
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color:	#b501f6;
    -webkit-text-stroke: 1.3px #38220f;
    font-family: 'Yatra One', cursive;
    padding-top: 10px;
}
  .text a{
    display: inline-block;
    font-size: 1em;
    background:#e7c8b2;
    padding: 10px 20px;
    text-decoration: none;
    color: #493267;
    margin-top: 10px;
    letter-spacing: 1px;
    transition: 0.2s;
    box-sizing:border-box;
    transform: translateY(50px);
    transform: translateX(75em);
}

  .text a:hover{
    letter-spacing: 3px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    color:#98744e;
    margin-right: 20px;
    transform: scale(0.6);
    transition: 0.5s;
}

.social li a:hover{
    transform: scale(0.6) translateY(-15px);

}
.nav a {
  padding: 8px;
  font: var(--navbar-item-font);
  text-decoration: none;
  color: var(--navbar-item-text-color);
  background-color: var(--navbar-item-background-color);
}

.nav a:hover {
  color: var(--navbar-item-text-color-hover);
}
.logo{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}